html, body {
  margin: 0px;
  padding: 0px;
  background-color: #000;
}

canvas {
  display: block;
  user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}
